astroid==3.0.2
certifi==2023.11.17
charset-normalizer==3.3.2
dill==0.3.7
idna==3.6
isort==5.13.2
marshmallow==3.20.2
mccabe==0.7.0
packaging==23.2
platformdirs==4.1.0
py-markdown-table==0.4.0
pylint==3.0.3
pylint-venv==3.0.3
PyYAML==6.0.1
requests==2.31.0
tomlkit==0.12.3
urllib3==2.1.0
ytmusicapi==1.4.2
